.case-study {
  @apply mt-12 ml-24 mr-24 mb-20;

  div {
    @apply flex;

    .section {
      @apply rounded-lg text-sm w-full pb-4 pt-4 pl-4 pr-4;
      background-color: rgba(3, 137, 86, 0.05);
      margin-right: 1rem;
      font-weight: 400;
      color: #000;
      line-height: 1.8;
    }

    .objective-card li {
      margin-left: 0.8rem;
      text-indent: -1.4rem;
      padding-left: 1rem;
      line-height: 1.6;
    }

    .objective-card strong {
      @apply font-bold;
    }

    h4 {
      @apply font-semibold text-black text-lg  font-semibold mb-2;
    }

    p {
      @apply text-black;
    }
  }
}

.project-phases {
  @apply flex flex-col;

  h3 {
    @apply text-xl font-semibold text-black mt-6 mb-1;
  }

  .phase-title {
    @apply text-base pt-3;
  }
  ul {
    @apply list-disc pl-8;
  }

  li {
    @apply mb-2 text-black;
  }

  .phase-title {
    @apply text-[#038956];
  }
  .phase-details {
    @apply text-black text-sm;
  }
}
.title {
  @apply flex flex-col border-l-8 px-6 border-[#038956] mb-10;

  h1 {
    @apply text-2xl font-semibold text-black;
  }
  h2 {
    @apply text-2xl font-semibold text-black;
  }
  p {
    @apply text-sm mt-2;
  }
}
@media (max-width: 767px) {
  .case-study {
    @apply m-10;
    .title {
      h1 {
        @apply text-xl;
      }
    }
    div {
      @apply flex flex-col;
      &:first-child {
        @apply w-full;
      }
    }
  }
}
