.tech-list {
  button {
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-weight: 600;
  }
  button.active {
    color: var(--primary-color);
    background: var(--background-color);
  }
  ul {
    @apply flex flex-row py-5;

    li {
      @apply flex flex-row  px-2 py-2 mr-4 text-sm items-center text-center;
    }
  }
}

.tech-container {
  @apply flex flex-row flex-wrap;

.tech-card {
  @apply flex flex-col items-center mr-20 mb-4 ml-4 mt-4;
}

.tech-card figure {
  @apply w-[80px] h-[80px] mb-2 rounded-md flex justify-center bg-[#0d0e0e0d];
}

.tech-card p {
  @apply text-center;
}
}